.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  padding: 0px;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
